

header h1{
    background-color:aliceblue;
    text-align: center;
    padding: 10px;
}

#citi-label{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  
}

#five-forecast p{
    font-size: x-small;
}

#delete{
    border-radius: 5px;
}

#delete:hover{
    box-shadow: 10px #000;
}

li:hover{
    background-color: azure;
}